{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h4>Parties en cours</h4>
        {% for partie in cours %}
            <div class="col s12">
                <div class='card #03a9f4 light-blue'>
                    <div class="card-content">
                        <div class="left">
                            <p>{{ partie }}</p>
                        </div>
                        <div class="right">
                            <a href="{{ path('play_game',{'id': partie.id}) }}"
                               class="btn waves-effect waves-light #90a4ae blue-grey lighten-2"
                               id="defier"> Rejoindre
                                <i class="material-icons right">directions_walk</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>
        {% endfor %}


        <h4>Parties en initalisation</h4>
        {% for partie in initilisation %}
            <div class="col s12">
                <div class='card #03a9f4 light-blue'>
                    <div class="card-content">
                        <div class="left">
                            <p>{{ partie }}</p>
                        </div>
                        <div class="right">
                            <a href="{{ path('init_game',{'id': partie.id}) }}"
                               class="btn waves-effect waves-light #90a4ae blue-grey lighten-2"
                               id="defier">Positionner les pions
                                <i class="material-icons right">directions_walk</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

