{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pions.css') }}">
{% endblock %}


{% block title %}Initialisation de la partie{% endblock %}

{% block body %}
    <a href="{{ path('valide_positionnement_pieces',{'id':idPartie}) }}"
       class="btn waves-effect wawes-light #90a4ae green lighten-2" id="valider">Valider
        <i class="material-icons right">directions_walk</i>
    </a>
    <div id="board">
    </div>
    <div id="personnages">

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/init.js') }}"></script>
{% endblock %}