{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pions.css') }}">
{% endblock %}


{% block title %}Initialisation de la partie{% endblock %}

{% block body %}
    <div id="board">
    </div>
    <div id="personnages">

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/init.js') }}"></script>
{% endblock %}