.personnage {
    margin: auto;
    vertical-align: middle;
}

.colonel {
    background-image: url(../img/small/colonel.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.capitaine {
    background-image: url(../img/small/capitaine.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.commandant {
    background-image: url(../img/small/commandant.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.demineur {
    background-image: url(../img/small/demineur.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.drapeau {
    background-image: url(../img/small/drapeau.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.espion {
    background-image: url(../img/small/espion.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.general {
    background-image: url(../img/small/general.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.lieutenant {
    background-image: url(../img/small/lieutenant.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.marechal {
    background-image: url(../img/small/marechal.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.bombe {
    background-image: url(../img/small/bombe.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.sergent {
    background-image: url(../img/small/sergent.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.soldat {
    background-image: url(../img/small/eclaireur.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.ennemi {
    background-image: url(../img/small/ennemi.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    display: block;
}

.herbe {
    background-image: url(../img/grass.png);
    width: 225px;
    height: 100px;
    display: block;
    border: #000000 solid 1px;
}

.eau {
    background-image: url(../img/eau.jpg);
    width: 225px;
    height: 100px;
    display: block;
    border: #000000 solid 1px;
}

#board .row {
    margin-bottom: 0;
}

.ligne::after {
    content: "";
    display: table;
    clear: both;
}

.ss1 {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22.5px 0.75rem 0;
    min-height: 1px;
    width: 90px;
}

.sl1 {
    float: left;
}
