{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <h3>{% trans %}Hello %controller_name%{% endtrans %}! ✅</h3>
        <div class="row">
            <a class="btn waves-effect waves-light" id="jouer" href="{{ path('defie_all') }}">Jouer
                <i class="material-icons right">videogame_asset</i>
            </a>
        </div>

        <h4>Users : </h4>
        {% for user in users %}
            <div class="row">
                <div class="col s12">
                    <div class='card'>
                        <div class="card-content">
                            <div class="left">
                                <p>{{ user.username|e }}</p>
                            </div>
                            <div class="right">
                                <a href="{{ path('lancement_partie',{'idJoueurDefie':user.id}) }}" class="btn waves-effect waves-light" id="defier" >Défier
                                    <i class="material-icons right">directions_walk</i>
                                </a>
                            </div>
                        </div>
                        <div class="card-action">

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
