{% extends 'base.html.twig' %}

{% block title %}Partie en cours{% endblock %}

{% block body %}
    <div class="container">
        <div id="board">
        </div>
        <button id="button">Hello</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/game.js') }}"></script>
{% endblock %}